@page
@model ListUser.Pages.IndexModel

@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewData["Title"] = "List Users";
}
<main>
    <h1 class="title">@ViewData["Title"]</h1>
    <div class="container">
        <div class="mb-3 btn">
            <button class="btn-blue" data-toggle="modal" data-target="#createModal">Create User</button>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                     <th scope="col" >Password</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr scope="row">
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>@user.UserId</td>
                        <td>@user.UserName</td>
                         <td type="password">@user.Password</td>
                        <td>@user.Role</td>
                        <td>
                            <a href="#" class="update"
                                onclick="openUpdateModal(event,'@user.UserId', '@user.UserName', '@user.Role', '@user.Password')"
                                data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Update">&#xE254;</i>
                            </a>

                            <a href="#" class="delete" onclick="deleteUser('@user.UserId')">
                                <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Create User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="Create">
                            <div class="form-group">
                                <label for="UserName">Username:</label>
                                <input type="text" class="form-control" id="UserName" name="NewUser.UserName" required>
                            </div>
                            <div class="form-group">
                                <label for="Password">Password:</label>
                                <input type="password" class="form-control" id="Password" name="NewUser.Password"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="Role">Role:</label>
                                <select class="form-control form-select" id="Role" name="NewUser.Role" required>
                                    <option value="Admin">Admin</option>
                                    <option value="User">User</option>
                                </select>
                            </div>
                            <div class="mb-3 btn">
                                <button type="submit" class="btn-blue">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="UpdateRole">
                        <input type="hidden" id="updateUserId" name="userId" value="">
                        <div class="form-group">
                            <label for="updateUserName">Username:</label>
                            <input type="text" class="form-control" id="updateUserName" name="userName" required>
                        </div>
                        <div class="form-group">
                            <label for="updatePassword">Password:</label>
                            <input type="password" class="form-control" id="updatePassword" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="updateRole">Role:</label>
                            <select class="form-control form-select" id="updateRole" name="role" required>
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                            </select>
                        </div>
                        <div class="mb-3 btn">
                            <button type="submit" class="btn-blue">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
<script>
    function deleteUser(userId) {
        event.preventDefault();
        if (confirm("Are you sure you want to delete this user?")) {
            var row = $('#row_' + userId);

            $.ajax({
                url: '/Index/DeleteUser',
                type: 'POST',
                data: { userId: userId },
                success: function (result) {                  
                    location.reload();              
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        }
    }

    function openUpdateModal(event, userId, userName, role,password) {
        event.preventDefault();
        $('#updateUserId').val(userId);
        $('#updateUserName').val(userName);
        $('#updateRole').val(role);
        $('#updatePassword').val(password);
        $('#updateModal').modal('show');
    }

    function updateRole() {
        var userId = $('#updateUserId').val();
        var userName = $('#updateUserName').val();
        var password = $('#updatePassword').val();
        var role = $('#updateRole').val();

        $.ajax({
            url: '/Index/UpdateRole',
            type: 'POST',
            data: { handler: 'UpdateRole', userId: userId, userName: userName, password: password, role: role },
            success: function (result) {
                location.reload(); 
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    }

</script>
