@page
@model Project.Pages.User.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserLogin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserLogin.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserLogin.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserLogin.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserLogin.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserLogin.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserLogin.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserLogin?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
